  body {
    background-color: #3a3a3a;
    background-size: 0.1;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  header{
    height: auto;
    outline: 0px;
    font-size: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: grey 3px 3px;
  }
  h1 {
    text-align: center;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
  }
  .dropbtn {
    background-color: white;
  }
  .dropdown {
    text-align: center;
    position: relative;
    background-color: #00748e;
    display: inline-block;
    width: 50%;
  }
  .dropdown:hover {
    background-color: #004f60;
    transition: 0.7s
  }
  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: red;
    min-width:100%;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
        width: 50%;
        background: #5f5f5f;
        duration: 1s;
      }
      div:hover {
        width: : 400px;
      }
      .dropdown-content a {
        padding: 15px 30px;
        float: none;
        display: block;
        transition: 0.7s;
      }
      .dropdown-content a:hover {
        background-color: #444444;
        transition: 0.7s;
      }
      .dropdown p {
        padding 3px;
        font-family: 'Source Sans Pro', sans-serif;
      }
      article {
        padding-top: 75px;
        padding-bottom: 30px;
      }
      article p {
        padding-left: 20%;
        padding-right: 20%;
      }
      .top {
        position: absolute;
        text-align: center;
      }
      .texttop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      nav {
        padding-top: 100px;
      }
      #topfoto {
        border-radius: 10px;
      }
      footer {
        position: fixed;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 0;
      }
      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
      }
      #titel {
        font-size: 35px;
      }
      #button {
        background-color: #25965f;
        border-color: #25965f;
        border-style: solid;
        color: white;
        text-align: center;
        padding-top: 15px;
        display: block;
        z-index: 1;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        height: 45px;
        width: 10%;
      }
      #button:hover {
        background-color: #165e3b;
        border-color: #165e3b;
        transition-duration: 0.7s;
      }
      h2 {
        text-align: center;
        color: white;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 20px;
      }
      #form {
        display: block;
        margin: 0 auto;
        width: 640;
        height: 1603;
      }
      #video {
        display: block;
        margin-left: 0 auto;
        margin-right: 0 auto;
        width: 560;
        height: 315;
      }
